<!-- Wappler include head-page="layouts/Index" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="Index" appConnect="local" components="{dmxNotifications:{},dmxBrowser:{},dmxStateManagement:{},dmxValidator:{},dmxBootstrap5Modal:{},dmxBootbox5:{},dmxFormatter:{}}" jquery_slim_35="local" moment_2="local" -->
<link href="/css/Index.css" rel="stylesheet" />
<meta content="/Index" name="ac:route">
<div id="browser" is="dmx-browser">
</div>
<dmx-cookie-manager id="cookies">
</dmx-cookie-manager>
<dmx-notifications id="notify" timeout="500">
</dmx-notifications>
<div class="d-flex" fid="7:16" id="Index">
    <div fid="7:17" fname="Hero sec" id="_7_17">
        <div fid="7:18" fname="Navigation bar" id="_7_18">
            <div fid="7:19" fname="Logo" id="_7_19">
                <div fid="7:20" fname="Frame 2" id="_7_20">
                </div>
                <div fid="7:21" fname="Frame 3" id="_7_21">
                </div>
                <div fid="7:22" fname="Frame 4" id="_7_22">
                </div>
            </div>
            <div fid="7:23" fname="Frame 6" id="_7_23">
                <span fid="7:24" fname="Home" id="_7_24">
                    Home
                </span>
                <div fid="7:25" fname="Frame 5" id="_7_25">
                    <span fid="7:26" fname="Services" id="_7_26">
                        Services
                    </span>
                    <div fid="7:27" fname="u:angle-up" id="_7_27">
                        <div fid="I7:27;2:4548" fname="Vector" id="_I7_27-2_4548">
                            <svg fill="none" height="7" viewbox="0 0 11 7" width="11" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.7158 4.74385L6.22898 0.309366C6.13175 0.211338 6.01608 0.133532 5.88863 0.0804347C5.76118 0.0273374 5.62448 0 5.48641 0C5.34835 0 5.21165 0.0273374 5.0842 0.0804347C4.95675 0.133532 4.84107 0.211338 4.74385 0.309366L0.309366 4.74385C0.211338 4.84107 0.133532 4.95675 0.0804342 5.0842C0.0273369 5.21165 0 5.34835 0 5.48641C0 5.62448 0.0273369 5.76118 0.0804342 5.88863C0.133532 6.01608 0.211338 6.13175 0.309366 6.22898C0.505322 6.42377 0.7704 6.53311 1.0467 6.53311C1.32301 6.53311 1.58808 6.42377 1.78404 6.22898L5.48641 2.52661L9.18879 6.22898C9.38359 6.4222 9.64652 6.53113 9.92089 6.53228C10.0585 6.53308 10.195 6.5067 10.3224 6.45465C10.4498 6.4026 10.5657 6.32591 10.6635 6.22898C10.765 6.13525 10.8469 6.02233 10.9046 5.89675C10.9622 5.77117 10.9944 5.63541 10.9992 5.49732C11.0041 5.35922 10.9816 5.22154 10.9329 5.09221C10.8842 4.96289 10.8104 4.84448 10.7158 4.74385Z" fill="#948C74">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
                <span fid="7:28" fname="About Us" id="_7_28">
                    About Us
                </span>
                <span fid="7:29" fname="Contact Us" id="_7_29">
                    Contact Us
                </span>
            </div>
            <div fid="7:30" fname="Frame 7" id="_7_30">
                <div class="_7_31_wrapper" fid="7:31" fname="Get Quote" id="_7_31_wrapper">
                    <span fid="7:31" fname="Get Quote" id="_7_31">
                        Get Quote
                    </span>
                </div>
            </div>
        </div>
        <img fid="7:32" fname="best-moving-van-lines 1" height="368.0px" id="best-moving-van-lines_1" src="/assets/images/best-moving-van-lines_1-_7_32-389.0x368.0.png" width="389.0px">
        <img fid="7:33" fname="home-movers-sharjah-cover-31-may-2020 1" height="764.0px" id="home-movers-sharjah-cover-31-may-2020_1" src="/assets/images/home-movers-sharjah-cover-31-may-2020_1-_7_33-1440.0x764.0.png" width="1440.0px">
        <div class="_7_34_wrapper" fid="7:34" fname="Pack and Move - We'll keep you Moving" id="_7_34_wrapper" type="text-container">
            <div fid="7:34" fname="Pack and Move - We'll keep you Moving" id="_7_34" type="text-container">
                <span class="_7_34_0">Pack and Move</span><span class="_7_34_1"> </span><span class="_7_34_2">- We'll keep you </span><span class="_7_34_3">Moving</span>
            </div>
        </div>
        <div class="_7_35_wrapper" fid="7:35" fname="Your one-stop shop for all your packing and moving needs. We'll keep things moving smoothly, so you can focus on the important things. Leave the logistics to us" id="_7_35_wrapper">
            <span fid="7:35" fname="Your one-stop shop for all your packing and moving needs. We'll keep things moving smoothly, so you can focus on the important things. Leave the logistics to us" id="_7_35">
                Your one-stop shop for all your packing and moving needs. We'll keep things moving smoothly, so you can focus on the important things. Leave the logistics to us
            </span>
        </div>
        <div class="_7_36_wrapper" fid="7:36" fname="Frame 124" id="_7_36_wrapper">
            <div fid="7:36" fname="Frame 124" id="_7_36">
                <div class="_7_37_wrapper" fid="7:37" fname="Frame 13" id="_7_37_wrapper">
                    <div fid="7:37" fname="Frame 13" id="_7_37">
                        <span fid="7:38" fname="Get Quote" id="_7_38">
                            Get Quote
                        </span>
                    </div>
                </div>
                <div class="_7_39_wrapper" fid="7:39" fname="Frame 145" id="_7_39_wrapper">
                    <div fid="7:39" fname="Frame 145" id="_7_39">
                        <div class="_7_40_wrapper" fid="7:40" fname="Frame 125" id="_7_40_wrapper">
                            <div fid="7:40" fname="Frame 125" id="_7_40">
                                <div fid="7:41" fname="u:map-marker" id="_7_41">
                                    <div fid="I7:41;2:5861" fname="Vector" id="_I7_41-2_5861">
                                        <svg fill="none" id="_I7_41-2_5861_svg" preserveaspectratio="none" viewbox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 13.4 7.05 19.5 7.35 19.76C7.53113 19.9149 7.76165 20.0001 8 20.0001C8.23835 20.0001 8.46887 19.9149 8.65 19.76C9 19.5 16 13.4 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0ZM8 17.65C5.87 15.65 2 11.34 2 8C2 6.4087 2.63214 4.88258 3.75736 3.75736C4.88258 2.63214 6.4087 2 8 2C9.5913 2 11.1174 2.63214 12.2426 3.75736C13.3679 4.88258 14 6.4087 14 8C14 11.34 10.13 15.66 8 17.65ZM8 4C7.20887 4 6.43552 4.2346 5.77772 4.67412C5.11992 5.11365 4.60723 5.73836 4.30448 6.46927C4.00173 7.20017 3.92252 8.00444 4.07686 8.78036C4.2312 9.55628 4.61216 10.269 5.17157 10.8284C5.73098 11.3878 6.44371 11.7688 7.21964 11.9231C7.99556 12.0775 8.79983 11.9983 9.53073 11.6955C10.2616 11.3928 10.8864 10.8801 11.3259 10.2223C11.7654 9.56448 12 8.79113 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4ZM8 10C7.60444 10 7.21776 9.8827 6.88886 9.66294C6.55996 9.44318 6.30362 9.13082 6.15224 8.76537C6.00087 8.39991 5.96126 7.99778 6.03843 7.60982C6.1156 7.22186 6.30608 6.86549 6.58579 6.58579C6.86549 6.30608 7.22186 6.1156 7.60982 6.03843C7.99778 5.96126 8.39991 6.00087 8.76537 6.15224C9.13082 6.30362 9.44318 6.55996 9.66294 6.88886C9.8827 7.21776 10 7.60444 10 8C10 8.53043 9.78929 9.03914 9.41421 9.41421C9.03914 9.78929 8.53043 10 8 10Z" fill="#7C7B7B">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                                <span fid="7:42" fname="Moving from" id="_7_42">
                                    Moving from
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_7_43_wrapper" fid="7:43" fname="Frame 146" id="_7_43_wrapper">
                    <div fid="7:43" fname="Frame 146" id="_7_43">
                        <div class="_7_44_wrapper" fid="7:44" fname="Frame 125" id="_7_44_wrapper">
                            <div fid="7:44" fname="Frame 125" id="_7_44">
                                <div fid="7:45" fname="u:map-marker" id="_7_45">
                                    <div fid="I7:45;2:5861" fname="Vector" id="_I7_45-2_5861">
                                        <svg fill="none" id="_I7_45-2_5861_svg" preserveaspectratio="none" viewbox="0 0 16 20" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 13.4 7.05 19.5 7.35 19.76C7.53113 19.9149 7.76165 20.0001 8 20.0001C8.23835 20.0001 8.46887 19.9149 8.65 19.76C9 19.5 16 13.4 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0ZM8 17.65C5.87 15.65 2 11.34 2 8C2 6.4087 2.63214 4.88258 3.75736 3.75736C4.88258 2.63214 6.4087 2 8 2C9.5913 2 11.1174 2.63214 12.2426 3.75736C13.3679 4.88258 14 6.4087 14 8C14 11.34 10.13 15.66 8 17.65ZM8 4C7.20887 4 6.43552 4.2346 5.77772 4.67412C5.11992 5.11365 4.60723 5.73836 4.30448 6.46927C4.00173 7.20017 3.92252 8.00444 4.07686 8.78036C4.2312 9.55628 4.61216 10.269 5.17157 10.8284C5.73098 11.3878 6.44371 11.7688 7.21964 11.9231C7.99556 12.0775 8.79983 11.9983 9.53073 11.6955C10.2616 11.3928 10.8864 10.8801 11.3259 10.2223C11.7654 9.56448 12 8.79113 12 8C12 6.93913 11.5786 5.92172 10.8284 5.17157C10.0783 4.42143 9.06087 4 8 4ZM8 10C7.60444 10 7.21776 9.8827 6.88886 9.66294C6.55996 9.44318 6.30362 9.13082 6.15224 8.76537C6.00087 8.39991 5.96126 7.99778 6.03843 7.60982C6.1156 7.22186 6.30608 6.86549 6.58579 6.58579C6.86549 6.30608 7.22186 6.1156 7.60982 6.03843C7.99778 5.96126 8.39991 6.00087 8.76537 6.15224C9.13082 6.30362 9.44318 6.55996 9.66294 6.88886C9.8827 7.21776 10 7.60444 10 8C10 8.53043 9.78929 9.03914 9.41421 9.41421C9.03914 9.78929 8.53043 10 8 10Z" fill="#7C7B7B">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                                <span fid="7:46" fname="Moving to" id="_7_46">
                                    Moving to
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_7_47_wrapper" fid="7:47" fname="Frame 131" id="_7_47_wrapper">
            <div fid="7:47" fname="Frame 131" id="_7_47">
                <div fid="7:48" fname="Frame 128" id="_7_48">
                    <div fid="7:49" fname="Frame 129" id="_7_49">
                        <div fid="7:50" fname="fi-rs-building" id="_7_50">
                            <div fid="I7:50;403:1506" fname="Vector" id="_I7_50-403_1506">
                                <svg fill="none" id="_I7_50-403_1506_svg" preserveaspectratio="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 13H7V15H4V13ZM9 15H12V13H9V15ZM4 19H7V17H4V19ZM9 19H12V17H9V19ZM4 7H7V5H4V7ZM9 7H12V5H9V7ZM4 11H7V9H4V11ZM9 11H12V9H9V11ZM24 8V24H0V3C0 2.20435 0.31607 1.44129 0.87868 0.87868C1.44129 0.31607 2.20435 0 3 0L13 0C13.7956 0 14.5587 0.31607 15.1213 0.87868C15.6839 1.44129 16 2.20435 16 3V5H21C21.7956 5 22.5587 5.31607 23.1213 5.87868C23.6839 6.44129 24 7.20435 24 8ZM14 3C14 2.73478 13.8946 2.48043 13.7071 2.29289C13.5196 2.10536 13.2652 2 13 2H3C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.10536 2.48043 2 2.73478 2 3V22H14V3ZM22 8C22 7.73478 21.8946 7.48043 21.7071 7.29289C21.5196 7.10536 21.2652 7 21 7H16V22H22V8ZM18 15H20V13H18V15ZM18 19H20V17H18V19ZM18 11H20V9H18V11Z" fill="#FDFDFD">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span fid="7:51" fname="Office" id="_7_51">
                            Office
                        </span>
                    </div>
                </div>
                <div fid="7:52" fname="Frame 129" id="_7_52">
                    <div fid="7:53" fname="Frame 129" id="_7_53">
                        <div fid="7:54" fname="u:users-alt" id="_7_54">
                            <div fid="I7:54;2:6587" fname="Vector" id="_I7_54-2_6587">
                                <svg fill="none" height="17" viewbox="0 0 22 17" width="22" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.3 8.72C11.8336 8.25813 12.2616 7.68688 12.5549 7.04502C12.8482 6.40316 13 5.70571 13 5C13 3.67392 12.4732 2.40215 11.5355 1.46447C10.5979 0.526784 9.32608 1.78911e-07 8 1.78911e-07C6.67392 1.78911e-07 5.40215 0.526784 4.46447 1.46447C3.52678 2.40215 3 3.67392 3 5C2.99999 5.70571 3.1518 6.40316 3.44513 7.04502C3.73845 7.68688 4.16642 8.25813 4.7 8.72C3.30014 9.35388 2.11247 10.3775 1.27898 11.6685C0.445495 12.9596 0.00147185 14.4633 0 16C0 16.2652 0.105357 16.5196 0.292893 16.7071C0.48043 16.8946 0.734784 17 1 17C1.26522 17 1.51957 16.8946 1.70711 16.7071C1.89464 16.5196 2 16.2652 2 16C2 14.4087 2.63214 12.8826 3.75736 11.7574C4.88258 10.6321 6.4087 10 8 10C9.5913 10 11.1174 10.6321 12.2426 11.7574C13.3679 12.8826 14 14.4087 14 16C14 16.2652 14.1054 16.5196 14.2929 16.7071C14.4804 16.8946 14.7348 17 15 17C15.2652 17 15.5196 16.8946 15.7071 16.7071C15.8946 16.5196 16 16.2652 16 16C15.9985 14.4633 15.5545 12.9596 14.721 11.6685C13.8875 10.3775 12.6999 9.35388 11.3 8.72ZM8 8C7.40666 8 6.82664 7.82405 6.33329 7.49441C5.83994 7.16476 5.45542 6.69623 5.22836 6.14805C5.0013 5.59987 4.94189 4.99667 5.05764 4.41473C5.1734 3.83279 5.45912 3.29824 5.87868 2.87868C6.29824 2.45912 6.83279 2.1734 7.41473 2.05764C7.99667 1.94189 8.59987 2.0013 9.14805 2.22836C9.69623 2.45542 10.1648 2.83994 10.4944 3.33329C10.8241 3.82664 11 4.40666 11 5C11 5.79565 10.6839 6.55871 10.1213 7.12132C9.55871 7.68393 8.79565 8 8 8ZM17.74 8.32C18.38 7.59933 18.798 6.70905 18.9438 5.75634C19.0896 4.80362 18.9569 3.82907 18.5618 2.95C18.1666 2.07093 17.5258 1.3248 16.7165 0.801423C15.9071 0.27805 14.9638 -0.0002576 14 1.78911e-07C13.7348 1.78911e-07 13.4804 0.105357 13.2929 0.292893C13.1054 0.48043 13 0.734784 13 1C13 1.26522 13.1054 1.51957 13.2929 1.70711C13.4804 1.89464 13.7348 2 14 2C14.7956 2 15.5587 2.31607 16.1213 2.87868C16.6839 3.44129 17 4.20435 17 5C16.9986 5.52524 16.8593 6.0409 16.5961 6.49542C16.3328 6.94994 15.9549 7.32738 15.5 7.59C15.3517 7.67552 15.2279 7.79766 15.1404 7.94474C15.0528 8.09182 15.0045 8.2589 15 8.43C14.9958 8.59976 15.0349 8.7678 15.1137 8.91826C15.1924 9.06872 15.3081 9.19665 15.45 9.29L15.84 9.55L15.97 9.62C17.1754 10.1917 18.1923 11.096 18.901 12.2263C19.6096 13.3566 19.9805 14.6659 19.97 16C19.97 16.2652 20.0754 16.5196 20.2629 16.7071C20.4504 16.8946 20.7048 17 20.97 17C21.2352 17 21.4896 16.8946 21.6771 16.7071C21.8646 16.5196 21.97 16.2652 21.97 16C21.9782 14.4654 21.5938 12.9543 20.8535 11.6101C20.1131 10.2659 19.0413 9.13331 17.74 8.32Z" fill="#FCFCFC">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span fid="7:55" fname="Family" id="_7_55">
                            Family
                        </span>
                    </div>
                </div>
                <div fid="7:56" fname="Frame 130" id="_7_56">
                    <div fid="7:57" fname="Frame 129" id="_7_57">
                        <div fid="7:58" fname="u:user" id="_7_58">
                            <div fid="I7:58;2:6585" fname="Vector" id="_I7_58-2_6585">
                                <svg fill="none" height="21" viewbox="0 0 20 21" width="20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.7135 10.7685C14.6987 9.99332 15.4179 8.93035 15.7709 7.72745C16.1238 6.52456 16.0931 5.24155 15.683 4.05692C15.2728 2.8723 14.5036 1.84496 13.4824 1.11785C12.4612 0.390737 11.2388 0 9.98515 0C8.73153 0 7.50909 0.390737 6.48788 1.11785C5.46667 1.84496 4.69749 2.8723 4.28734 4.05692C3.87719 5.24155 3.84647 6.52456 4.19945 7.72745C4.55244 8.93035 5.27157 9.99332 6.25681 10.7685C4.56858 11.4448 3.09555 12.5667 1.99474 14.0144C0.893927 15.462 0.206611 17.1813 0.00606166 18.9889C-0.00845516 19.1209 0.00316394 19.2544 0.0402553 19.3819C0.0773467 19.5094 0.139184 19.6283 0.222237 19.7319C0.389969 19.9411 0.633934 20.0751 0.900462 20.1044C1.16699 20.1337 1.43425 20.056 1.64344 19.8882C1.85264 19.7205 1.98663 19.4765 2.01595 19.21C2.23662 17.2455 3.17333 15.4312 4.64711 14.1137C6.12089 12.7962 8.02843 12.0679 10.0053 12.0679C11.9821 12.0679 13.8896 12.7962 15.3634 14.1137C16.8372 15.4312 17.7739 17.2455 17.9946 19.21C18.0219 19.4569 18.1397 19.685 18.3253 19.8502C18.5109 20.0153 18.7511 20.1059 18.9995 20.1044H19.11C19.3735 20.0741 19.6142 19.9409 19.7799 19.7338C19.9455 19.5268 20.0226 19.2626 19.9944 18.999C19.7929 17.1862 19.1019 15.4625 17.9954 14.0126C16.8889 12.5627 15.4087 11.4413 13.7135 10.7685ZM9.98515 10.055C9.19012 10.055 8.41293 9.8192 7.75189 9.37751C7.09084 8.93581 6.57561 8.30801 6.27136 7.57349C5.96712 6.83897 5.88751 6.03073 6.04262 5.25097C6.19772 4.47121 6.58057 3.75495 7.14274 3.19278C7.70492 2.6306 8.42117 2.24775 9.20093 2.09265C9.98069 1.93755 10.7889 2.01715 11.5235 2.3214C12.258 2.62565 12.8858 3.14087 13.3275 3.80192C13.7692 4.46297 14.0049 5.24015 14.0049 6.03519C14.0049 7.1013 13.5814 8.12374 12.8276 8.8776C12.0737 9.63145 11.0513 10.055 9.98515 10.055Z" fill="white">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span fid="7:59" fname="Individual" id="_7_59">
                            Individual
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fid="7:60" fname="Know us more" id="_7_60">
        <div fid="7:61" fname="Frame 141" id="_7_61">
            <div fid="7:62" fname="Group 1" id="_7_62">
                <div fid="7:63" fname="Frame 76" id="_7_63">
                </div>
                <img fid="7:64" fname="pexels-shvets-production-7203879 1" height="403.0px" id="pexels-shvets-production-7203879_1" src="/assets/images/pexels-shvets-production-7203879_1-_7_64-737.0x403.0.png" width="737.0px">
            </div>
            <div fid="7:65" fname="Frame 133" id="_7_65">
                <div fid="7:66" fname="Frame 132" id="_7_66">
                    <span fid="7:67" fname="Need Help Moving?" id="_7_67">
                        Need Help Moving?
                    </span>
                    <span fid="7:68" fname="We have the right solutions to make your relocation stress-free" id="_7_68">
                        We have the right solutions to make your relocation stress-free
                    </span>
                </div>
                <div fid="7:69" fname="dashes" id="_7_69">
                    <div fid="7:70" fname="Colour bubbles" id="_7_70">
                    </div>
                    <div fid="7:71" fname="Colour bubbles" id="_7_71">
                    </div>
                    <div fid="7:72" fname="Colour bubbles" id="_7_72">
                    </div>
                    <div fid="7:73" fname="Colour bubbles" id="_7_73">
                    </div>
                </div>
            </div>
        </div>
        <div fid="7:74" fname="Frame 140" id="_7_74">
            <div fid="7:75" fname="Frame 135" id="_7_75">
                <div fid="7:76" fname="Frame 134" id="_7_76">
                    <span class="Our_Black_color" fid="7:77" fname="All your luggage in one place" id="_7_77">
                        All your luggage in one place
                    </span>
                    <span fid="7:78" fname="All your belongings remain intact from pick up to drop off" id="_7_78">
                        All your belongings remain intact from pick up to drop off
                    </span>
                </div>
                <div fid="7:79" fname="dashes" id="_7_79">
                    <div fid="7:80" fname="Colour bubbles" id="_7_80">
                    </div>
                    <div fid="7:81" fname="Colour bubbles" id="_7_81">
                    </div>
                    <div fid="7:82" fname="Colour bubbles" id="_7_82">
                    </div>
                    <div fid="7:83" fname="Colour bubbles" id="_7_83">
                    </div>
                </div>
            </div>
            <div fid="7:84" fname="Group 2" id="_7_84">
                <div fid="7:85" fname="Frame 77" id="_7_85">
                </div>
                <img fid="7:86" fname="packing-boxescbf50d0a-f6c0-4ab9-8dfd-049f85ef7a0a 1" height="403.0px" id="packing-boxescbf50d0a-f6c0-4ab9-8dfd-049f85ef7a0a_1" src="/assets/images/packing-boxescbf50d0a-f6c0-4ab9-8dfd-049f85ef7a0a_1-_7_86-737.0x403.0.png" width="737.0px">
                <img fid="7:87" fname="pexels-karolina-grabowska-4506272 1" height="346.0px" id="pexels-karolina-grabowska-4506272_1" src="/assets/images/pexels-karolina-grabowska-4506272_1-_7_87-345.0x346.0.png" width="345.0px">
            </div>
        </div>
        <div fid="7:88" fname="Frame 139" id="_7_88">
            <div fid="7:89" fname="Group 3" id="_7_89">
                <div fid="7:90" fname="Frame 78" id="_7_90">
                </div>
                <img fid="7:91" fname="image 4" height="403.0px" id="image_4" src="/assets/images/image_4-_7_91-737.0x403.0.png" width="737.0px">
            </div>
            <div fid="7:92" fname="Frame 138" id="_7_92">
                <div fid="7:93" fname="Frame 137" id="_7_93">
                    <div fid="7:94" fname="Frame 136" id="_7_94">
                        <span class="Our_Black_color" fid="7:95" fname="Seamless Transitions" id="_7_95">
                            Seamless Transitions
                        </span>
                        <span fid="7:96" fname="Enjoy a moving experience that prioritizes safety and convenience" id="_7_96">
                            Enjoy a moving experience that prioritizes safety and convenience
                        </span>
                    </div>
                    <div fid="7:97" fname="dashes" id="_7_97">
                        <div fid="7:98" fname="Colour bubbles" id="_7_98">
                        </div>
                        <div fid="7:99" fname="Colour bubbles" id="_7_99">
                        </div>
                        <div fid="7:100" fname="Colour bubbles" id="_7_100">
                        </div>
                        <div fid="7:101" fname="Colour bubbles" id="_7_101">
                        </div>
                    </div>
                </div>
                <div fid="7:102" fname="CTA button 2" id="_7_102">
                    <span fid="7:103" fname="Get started" id="_7_103">
                        Get started
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div fid="7:104" fname="how it work" id="_7_104">
        <div fid="7:105" fname="Frame 83" id="_7_105">
            <div fid="7:106" fname="Frame 1000005943" id="_7_106">
            </div>
        </div>
        <div fid="7:107" fname="Frame 81" id="_7_107">
        </div>
        <div fid="7:108" fname="Frame 82" id="_7_108">
        </div>
        <div class="_7_109_wrapper" fid="7:109" fname="Frame 144" id="_7_109_wrapper">
            <div fid="7:109" fname="Frame 144" id="_7_109">
                <span fid="7:110" fname="How it Works" id="_7_110">
                    How it Works
                </span>
                <span fid="7:111" fname="Book a move in three simple steps" id="_7_111">
                    Book a move in three simple steps
                </span>
            </div>
        </div>
        <div fid="7:112" fname="CTA button 2" id="_7_112">
            <span fid="7:113" fname="Get started" id="_7_113">
                Get started
            </span>
        </div>
        <div fid="7:114" fname="Frame 1000005945" id="_7_114">
            <div fid="7:115" fname="Frame 1000005941" id="_7_115">
                <div class="_7_116_wrapper" fid="7:116" fname="Frame 1000005938" id="_7_116_wrapper">
                    <div fid="7:116" fname="Frame 1000005938" id="_7_116">
                        <div fid="7:117" fname="Frame 1000005936" id="_7_117">
                        </div>
                        <div fid="7:118" fname="Frame 1000005937" id="_7_118">
                            <span fid="7:119" fname="Select your address" id="_7_119">
                                Select your address
                            </span>
                            <span fid="7:120" fname="Select pick up and drop off location " id="_7_120">
                                Select pick up and drop off location
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div fid="7:121" fname="Frame 1000005942" id="_7_121">
                <div class="_7_122_wrapper" fid="7:122" fname="Frame 1000005939" id="_7_122_wrapper">
                    <div fid="7:122" fname="Frame 1000005939" id="_7_122">
                        <div fid="7:123" fname="Frame 1000005936" id="_7_123">
                        </div>
                        <div fid="7:124" fname="Frame 1000005937" id="_7_124">
                            <span fid="7:125" fname="Schedule a visit" id="_7_125">
                                Schedule a visit
                            </span>
                            <span fid="7:126" fname="Select a convenient date for a visit to check your properties" id="_7_126">
                                Select a convenient date for a visit to check your properties
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div fid="7:127" fname="Frame 1000005944" id="_7_127">
                <div class="_7_128_wrapper" fid="7:128" fname="Frame 1000005940" id="_7_128_wrapper">
                    <div fid="7:128" fname="Frame 1000005940" id="_7_128">
                        <div fid="7:129" fname="Frame 1000005936" id="_7_129">
                        </div>
                        <div fid="7:130" fname="Frame 1000005937" id="_7_130">
                            <span fid="7:131" fname="Finalize your move" id="_7_131">
                                Finalize your move
                            </span>
                            <span fid="7:132" fname="Choose your moving date" id="_7_132">
                                Choose your moving date
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img fid="7:133" fname="pexels-liza-summer-6347572-removebg-preview 1" height="1018.0px" id="pexels-liza-summer-6347572-removebg-preview_1" src="/assets/images/pexels-liza-summer-6347572-removebg-preview_1-_7_133-623.0x1018.0.png" width="623.0px">
    </div>
    <div fid="7:134" fname="services we offer" id="_7_134">
        <img fid="7:135" fname="pexels-guilherme-almeida-1858175-removebg-preview 1" height="706.0px" id="pexels-guilherme-almeida-1858175-removebg-preview_1" src="/assets/images/pexels-guilherme-almeida-1858175-removebg-preview_1-_7_135-608.0x706.0.png" width="608.0px">
        <div fid="7:136" fname="Frame 89" id="_7_136">
            <div fid="7:137" fname="right" id="_7_137">
                <div class="_7_138_wrapper" fid="7:138" fname="u:angle-left-b" id="_7_138_wrapper">
                    <div fid="7:138" fname="u:angle-left-b" id="_7_138">
                        <div fid="I7:138;2:4540" fname="Vector" id="_I7_138-2_4540">
                            <svg fill="none" height="14" viewbox="0 0 8 14" width="8" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.31169 7.79226L6.23381 13.6105C6.64939 14.0261 7.27277 14.0261 7.68836 13.6105C8.10395 13.1949 8.10395 12.5715 7.68836 12.1559L2.59742 6.96108L7.68836 1.76624C8.10395 1.35066 8.10395 0.727277 7.68836 0.31169C7.48057 0.103896 7.27277 0 6.96108 0C6.64939 0 6.4416 0.103896 6.23381 0.31169L0.31169 6.12991C-0.103897 6.64939 -0.103897 7.27277 0.31169 7.79226C0.31169 7.68836 0.31169 7.68836 0.31169 7.79226Z" fill="#E4DFC4">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div fid="7:139" fname="left" id="_7_139">
                <div class="_7_140_wrapper" fid="7:140" fname="u:angle-right-b" id="_7_140_wrapper">
                    <div fid="7:140" fname="u:angle-right-b" id="_7_140">
                        <div fid="I7:140;2:4544" fname="Vector" id="_I7_140-2_4544">
                            <svg fill="none" height="14" viewbox="0 0 8 14" width="8" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.66531 6.18337L1.77915 0.307617C1.68247 0.210144 1.56745 0.132777 1.44072 0.0799801C1.314 0.0271829 1.17807 0 1.04078 0C0.903494 0 0.767566 0.0271829 0.640838 0.0799801C0.514109 0.132777 0.399089 0.210144 0.302412 0.307617C0.108719 0.502466 0 0.766045 0 1.04079C0 1.31553 0.108719 1.57911 0.302412 1.77396L5.4502 6.97374L0.302412 12.1215C0.108719 12.3164 0 12.58 0 12.8547C0 13.1294 0.108719 13.393 0.302412 13.5879C0.398727 13.6861 0.513585 13.7643 0.64033 13.8179C0.767075 13.8714 0.903187 13.8993 1.04078 13.8999C1.17837 13.8993 1.31449 13.8714 1.44123 13.8179C1.56798 13.7643 1.68284 13.6861 1.77915 13.5879L7.66531 7.71211C7.77087 7.61473 7.85511 7.49653 7.91273 7.36498C7.97035 7.23343 8.0001 7.09136 8.0001 6.94774C8.0001 6.80412 7.97035 6.66206 7.91273 6.5305C7.85511 6.39895 7.77087 6.28076 7.66531 6.18337Z" fill="white">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fid="7:141" fname="Frame 143" id="_7_141">
            <div fid="7:142" fname="Label" id="_7_142">
                <div class="_7_143_wrapper" fid="7:143" fname="WHAT YOU GAIN" id="_7_143_wrapper">
                    <span fid="7:143" fname="WHAT YOU GAIN" id="_7_143">
                        WHAT YOU GAIN
                    </span>
                </div>
            </div>
            <div fid="7:144" fname="Frame 142" id="_7_144">
                <span class="Our_white_color" fid="7:145" fname="Services We Offer" id="_7_145">
                    Services We Offer
                </span>
                <span class="Our_white_color" fid="7:146" fname="Discover more than just moving service. Explore our range of services to discover the one that best suits your needs." id="_7_146">
                    Discover more than just moving service. Explore our range of services to discover the one that best suits your needs.
                </span>
            </div>
        </div>
        <div fid="7:147" fname="Frame 90" id="_7_147">
            <div fid="7:148" fname="services box" id="_7_148">
                <div class="_7_149_wrapper" fid="7:149" fname="Our expert team meticulously packs your belongings with utmost care and attention to detail, ensuring everything arrives at your new destination safely and securely. Whether it's fragile items, bulky furniture, or sensitive equipment...." id="_7_149_wrapper">
                    <span fid="7:149" fname="Our expert team meticulously packs your belongings with utmost care and attention to detail, ensuring everything arrives at your new destination safely and securely. Whether it's fragile items, bulky furniture, or sensitive equipment...." id="_7_149">
                        Our expert team meticulously packs your belongings with utmost care and attention to detail, ensuring everything arrives at your new destination safely and securely. Whether it's fragile items, bulky furniture, or sensitive equipment....
                    </span>
                </div>
                <div class="_7_150_wrapper" fid="7:150" fname="Line 5" id="_7_150_wrapper">
                    <div fid="7:150" fname="Line 5" id="_7_150">
                        <svg fill="none" height="1" viewbox="0 0 202 1" width="202" xmlns="http://www.w3.org/2000/svg">
                            <line stroke="#FFAD26" stroke-dasharray="10 10" stroke-width="0.4" x2="202" y1="0.200024" y2="0.200024">
                            </line>
                        </svg>
                    </div>
                </div>
                <div class="_7_151_wrapper" fid="7:151" fname="read more box" id="_7_151_wrapper">
                    <div fid="7:151" fname="read more box" id="_7_151">
                        <span fid="7:152" fname="Read More" id="_7_152">
                            Read More
                        </span>
                        <div fid="7:153" fname="u:arrow-right" id="_7_153">
                            <div fid="I7:153;2:4600" fname="Vector" id="_I7_153-2_4600">
                                <svg fill="none" height="13" viewbox="0 0 12 13" width="12" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9249 5.62638C11.8772 5.50358 11.8058 5.39139 11.7148 5.29625L6.71273 0.294211C6.61946 0.200935 6.50872 0.126944 6.38685 0.0764633C6.26498 0.0259825 6.13436 0 6.00244 0C5.73603 0 5.48053 0.105831 5.29215 0.294211C5.19888 0.387488 5.12489 0.498223 5.0744 0.620095C5.02392 0.741966 4.99794 0.872588 4.99794 1.0045C4.99794 1.27091 5.10377 1.52641 5.29215 1.71479L8.5935 5.00613H1.00041C0.735083 5.00613 0.480625 5.11153 0.293013 5.29914C0.1054 5.48675 0 5.74121 0 6.00654C0 6.27186 0.1054 6.52632 0.293013 6.71393C0.480625 6.90154 0.735083 7.00694 1.00041 7.00694H8.5935L5.29215 10.2983C5.19839 10.3913 5.12396 10.5019 5.07317 10.6238C5.02238 10.7457 4.99623 10.8765 4.99623 11.0086C4.99623 11.1406 5.02238 11.2714 5.07317 11.3933C5.12396 11.5152 5.19839 11.6259 5.29215 11.7189C5.38515 11.8126 5.4958 11.8871 5.61771 11.9378C5.73962 11.9886 5.87038 12.0148 6.00244 12.0148C6.13451 12.0148 6.26527 11.9886 6.38718 11.9378C6.50908 11.8871 6.61973 11.8126 6.71273 11.7189L11.7148 6.71682C11.8058 6.62168 11.8772 6.50949 11.9249 6.38669C12.0249 6.14313 12.0249 5.86994 11.9249 5.62638Z" fill="#FFAD26">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_7_154_wrapper" fid="7:154" fname="services title head" id="_7_154_wrapper">
                    <div fid="7:154" fname="services title head" id="_7_154">
                        <img fid="7:155" fname="6 Tips for Moving in the Rain to Reduce Damage 1" height="76.0px" id="_6_Tips_for_Moving_in_the_Rain_to_Reduce_Damage_1" src="/assets/images/_6_Tips_for_Moving_in_the_Rain_to_Reduce_Damage_1-_7_155-103.0x76.0.png" width="103.0px">
                        <span fid="7:156" fname="Comprehensive Packing Solutions" id="_7_156">
                            Comprehensive Packing Solutions
                        </span>
                    </div>
                </div>
            </div>
            <div fid="7:157" fname="services box" id="_7_157">
                <div class="_7_158_wrapper" fid="7:158" fname="Line 5" id="_7_158_wrapper">
                    <div fid="7:158" fname="Line 5" id="_7_158">
                        <svg fill="none" height="1" viewbox="0 0 202 1" width="202" xmlns="http://www.w3.org/2000/svg">
                            <line stroke="#FFAD26" stroke-dasharray="10 10" stroke-width="0.4" x2="202" y1="0.200024" y2="0.200024">
                            </line>
                        </svg>
                    </div>
                </div>
                <div class="_7_159_wrapper" fid="7:159" fname="We understand that every move is unique, which is why we offer personalized relocation planning services tailored to your specific needs. From coordinating logistics to scheduling timelines...." id="_7_159_wrapper">
                    <span fid="7:159" fname="We understand that every move is unique, which is why we offer personalized relocation planning services tailored to your specific needs. From coordinating logistics to scheduling timelines...." id="_7_159">
                        We understand that every move is unique, which is why we offer personalized relocation planning services tailored to your specific needs. From coordinating logistics to scheduling timelines....
                    </span>
                </div>
                <div class="_7_160_wrapper" fid="7:160" fname="read more box" id="_7_160_wrapper">
                    <div fid="7:160" fname="read more box" id="_7_160">
                        <span fid="7:161" fname="Read More" id="_7_161">
                            Read More
                        </span>
                        <div fid="7:162" fname="u:arrow-right" id="_7_162">
                            <div fid="I7:162;2:4600" fname="Vector" id="_I7_162-2_4600">
                                <svg fill="none" height="13" viewbox="0 0 12 13" width="12" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9249 5.62638C11.8772 5.50358 11.8058 5.39139 11.7148 5.29625L6.71273 0.294211C6.61946 0.200935 6.50872 0.126944 6.38685 0.0764633C6.26498 0.0259825 6.13436 0 6.00244 0C5.73603 0 5.48053 0.105831 5.29215 0.294211C5.19888 0.387488 5.12489 0.498223 5.0744 0.620095C5.02392 0.741966 4.99794 0.872588 4.99794 1.0045C4.99794 1.27091 5.10377 1.52641 5.29215 1.71479L8.5935 5.00613H1.00041C0.735083 5.00613 0.480625 5.11153 0.293013 5.29914C0.1054 5.48675 0 5.74121 0 6.00654C0 6.27186 0.1054 6.52632 0.293013 6.71393C0.480625 6.90154 0.735083 7.00694 1.00041 7.00694H8.5935L5.29215 10.2983C5.19839 10.3913 5.12396 10.5019 5.07317 10.6238C5.02238 10.7457 4.99623 10.8765 4.99623 11.0086C4.99623 11.1406 5.02238 11.2714 5.07317 11.3933C5.12396 11.5152 5.19839 11.6259 5.29215 11.7189C5.38515 11.8126 5.4958 11.8871 5.61771 11.9378C5.73962 11.9886 5.87038 12.0148 6.00244 12.0148C6.13451 12.0148 6.26527 11.9886 6.38718 11.9378C6.50908 11.8871 6.61973 11.8126 6.71273 11.7189L11.7148 6.71682C11.8058 6.62168 11.8772 6.50949 11.9249 6.38669C12.0249 6.14313 12.0249 5.86994 11.9249 5.62638Z" fill="#FFAD26">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_7_163_wrapper" fid="7:163" fname="services title head" id="_7_163_wrapper">
                    <div fid="7:163" fname="services title head" id="_7_163">
                        <img fid="7:164" fname="Office Moving in Plano TX 1" height="76.0px" id="Office_Moving_in_Plano_TX_1" src="/assets/images/Office_Moving_in_Plano_TX_1-_7_164-103.0x76.0.png" width="103.0px">
                        <span fid="7:165" fname="Tailored Relocation Planning" id="_7_165">
                            Tailored Relocation Planning
                        </span>
                    </div>
                </div>
            </div>
            <div fid="7:166" fname="services box" id="_7_166">
                <div class="_7_167_wrapper" fid="7:167" fname="Line 5" id="_7_167_wrapper">
                    <div fid="7:167" fname="Line 5" id="_7_167">
                        <svg fill="none" height="1" viewbox="0 0 202 1" width="202" xmlns="http://www.w3.org/2000/svg">
                            <line stroke="#F0DE78" stroke-dasharray="10 10" stroke-width="0.4" x2="202" y1="0.200024" y2="0.200024">
                            </line>
                        </svg>
                    </div>
                </div>
                <span fid="7:168" fname="Our Clear Labeling and Item Tracking service is designed to provide maximum transparency and accountability throughout the packing and relocation process. We understand the importance of keeping track of your belongings....." id="_7_168">
                    Our Clear Labeling and Item Tracking service is designed to provide maximum transparency and accountability throughout the packing and relocation process. We understand the importance of keeping track of your belongings.....
                </span>
                <div class="_7_169_wrapper" fid="7:169" fname="read more box" id="_7_169_wrapper">
                    <div fid="7:169" fname="read more box" id="_7_169">
                        <span fid="7:170" fname="Read More" id="_7_170">
                            Read More
                        </span>
                        <div fid="7:171" fname="u:arrow-right" id="_7_171">
                            <div fid="I7:171;2:4600" fname="Vector" id="_I7_171-2_4600">
                                <svg fill="none" height="13" viewbox="0 0 12 13" width="12" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.9249 5.62638C11.8772 5.50358 11.8058 5.39139 11.7148 5.29625L6.71273 0.294211C6.61946 0.200935 6.50872 0.126944 6.38685 0.0764633C6.26498 0.0259825 6.13436 0 6.00244 0C5.73603 0 5.48053 0.105831 5.29215 0.294211C5.19888 0.387488 5.12489 0.498223 5.0744 0.620095C5.02392 0.741966 4.99794 0.872588 4.99794 1.0045C4.99794 1.27091 5.10377 1.52641 5.29215 1.71479L8.5935 5.00613H1.00041C0.735083 5.00613 0.480625 5.11153 0.293013 5.29914C0.1054 5.48675 0 5.74121 0 6.00654C0 6.27186 0.1054 6.52632 0.293013 6.71393C0.480625 6.90154 0.735083 7.00694 1.00041 7.00694H8.5935L5.29215 10.2983C5.19839 10.3913 5.12396 10.5019 5.07317 10.6238C5.02238 10.7457 4.99623 10.8765 4.99623 11.0086C4.99623 11.1406 5.02238 11.2714 5.07317 11.3933C5.12396 11.5152 5.19839 11.6259 5.29215 11.7189C5.38515 11.8126 5.4958 11.8871 5.61771 11.9378C5.73962 11.9886 5.87038 12.0148 6.00244 12.0148C6.13451 12.0148 6.26527 11.9886 6.38718 11.9378C6.50908 11.8871 6.61973 11.8126 6.71273 11.7189L11.7148 6.71682C11.8058 6.62168 11.8772 6.50949 11.9249 6.38669C12.0249 6.14313 12.0249 5.86994 11.9249 5.62638Z" fill="#FFAD26">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_7_172_wrapper" fid="7:172" fname="services title head" id="_7_172_wrapper">
                    <div fid="7:172" fname="services title head" id="_7_172">
                        <img fid="7:173" fname="4 Myths That Could Wreak Havoc on Your Move 1" height="82.0px" id="_4_Myths_That_Could_Wreak_Havoc_on_Your_Move_1" src="/assets/images/_4_Myths_That_Could_Wreak_Havoc_on_Your_Move_1-_7_173-103.0x82.0.png" width="103.0px">
                        <span fid="7:174" fname="Clear Labeling and Item Tracking Service" id="_7_174">
                            Clear Labeling and Item Tracking Service
                        </span>
                    </div>
                </div>
            </div>
            <div fid="7:175" fname="services box" id="_7_175">
                <div class="_7_176_wrapper" fid="7:176" fname="Our services don't end once your belongings reach their destination. We offer comprehensive post-move support and setup assistance to help you settle into your new space seamlessly....." id="_7_176_wrapper">
                    <span fid="7:176" fname="Our services don't end once your belongings reach their destination. We offer comprehensive post-move support and setup assistance to help you settle into your new space seamlessly....." id="_7_176">
                        Our services don't end once your belongings reach their destination. We offer comprehensive post-move support and setup assistance to help you settle into your new space seamlessly.....
                    </span>
                </div>
                <div class="_7_177_wrapper" fid="7:177" fname="Line 5" id="_7_177_wrapper">
                    <div fid="7:177" fname="Line 5" id="_7_177">
                        <svg fill="none" height="1" viewbox="0 0 202 1" width="202" xmlns="http://www.w3.org/2000/svg">
                            <line stroke="#F0DE78" stroke-dasharray="10 10" stroke-width="0.4" x2="202" y1="0.200024" y2="0.200024">
                            </line>
                        </svg>
                    </div>
                </div>
                <div class="_7_178_wrapper" fid="7:178" fname="services title head" id="_7_178_wrapper">
                    <div fid="7:178" fname="services title head" id="_7_178">
                        <img fid="7:179" fname="The Future of Moving_ Bellhop and AptAmigo (1) 1" height="78.0px" id="The_Future_of_Moving__Bellhop_and_AptAmigo__1__1" src="/assets/images/The_Future_of_Moving__Bellhop_and_AptAmigo__1__1-_7_179-103.0x78.0.png" width="103.0px">
                        <span fid="7:180" fname="Post-Move Support and Setup Assistance" id="_7_180">
                            Post-Move Support and Setup Assistance
                        </span>
                    </div>
                </div>
                <div class="_7_181_wrapper" fid="7:181" fname="read more box" id="_7_181_wrapper">
                    <div fid="7:181" fname="read more box" id="_7_181">
                        <span fid="7:182" fname="Read More" id="_7_182">
                            Read More
                        </span>
                        <div fid="7:183" fname="u:arrow-right" id="_7_183">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img fid="7:184" fname="Booklover 1" height="2251.0px" id="Booklover_1" src="/assets/images/Booklover_1-_7_184-1583.0x2251.0.png" width="1583.0px">
    </div>
    <div fid="7:185" fname="about us" id="_7_185">
        <img fid="7:186" fname="How-much-does-it-cost-to-hire-professional-movers-scaled 1" height="204.0px" id="How-much-does-it-cost-to-hire-professional-movers-scaled_1" src="/assets/images/How-much-does-it-cost-to-hire-professional-movers-scaled_1-_7_186-241.0x204.0.png" width="241.0px">
        <img fid="7:187" fname="Office Moving in Plano TX 2" height="429.0px" id="Office_Moving_in_Plano_TX_2" src="/assets/images/Office_Moving_in_Plano_TX_2-_7_187-363.0x429.0.png" width="363.0px">
        <img fid="7:188" fname="moving 1" height="352.0px" id="moving_1" src="/assets/images/moving_1-_7_188-652.0x352.0.png" width="652.0px">
        <img fid="7:189" fname="pexels-julia-avamotive-1236678 1" height="195.0px" id="pexels-julia-avamotive-1236678_1" src="/assets/images/pexels-julia-avamotive-1236678_1-_7_189-241.0x195.0.png" width="241.0px">
        <div fid="7:190" fname="Frame 149" id="_7_190">
            <div fid="7:191" fname="Frame 148" id="_7_191">
                <span fid="7:192" fname="About Us" id="_7_192">
                    About Us
                </span>
                <span fid="7:193" fname="At SwiftShift, we understand that moving can be overwhelming, and we're here to help. With 5 years of experience in the industry, we have perfected the art of efficient packing and seamless relocation. Our dedicated team is committed to ensuring that your belongings are handled with care, from the moment we start packing to the final delivery at your new destination." id="_7_193">
                    At SwiftShift, we understand that moving can be overwhelming, and we're here to help. With 5 years of experience in the industry, we have perfected the art of efficient packing and seamless relocation. Our dedicated team is committed to ensuring that your belongings are handled with care, from the moment we start packing to the final delivery at your new destination.
                </span>
            </div>
            <div fid="7:194" fname="Frame 13" id="_7_194">
                <span fid="7:195" fname="Read More" id="_7_195">
                    Read More
                </span>
            </div>
        </div>
    </div>
    <div fid="7:196" fname="why choose us" id="_7_196">
        <div class="Secondary_color" fid="7:197" fname="bubble design" id="_7_197">
        </div>
        <div fid="7:198" fname="bubble design" id="_7_198">
        </div>
        <img fid="7:199" fname="Family" height="128.0px" id="Family" src="/assets/images/Family-_7_199-128.0x128.0.png" width="128.0px">
        <div class="_7_200_wrapper" fid="7:200" fname="Location" id="_7_200_wrapper">
            <img fid="7:200" fname="Location" height="128.0px" id="Location" src="/assets/images/Location-_7_200-128.0x128.0.png" width="128.0px">
        </div>
        <img fid="7:201" fname="Answer" height="128.0px" id="Answer" src="/assets/images/Answer-_7_201-128.0x128.0.png" width="128.0px">
        <img fid="7:202" fname="Employee benefit" height="128.0px" id="Employee_benefit" src="/assets/images/Employee_benefit-_7_202-128.0x128.0.png" width="128.0px">
        <div class="_7_203_wrapper" fid="7:203" fname="Frame 147" id="_7_203_wrapper">
            <div fid="7:203" fname="Frame 147" id="_7_203">
                <span fid="7:204" fname="Why Choose Us" id="_7_204">
                    Why Choose Us
                </span>
                <span fid="7:205" fname="One Seamless Packing Solution" id="_7_205">
                    One Seamless Packing Solution
                </span>
            </div>
        </div>
        <div fid="7:206" fname="boxes" id="_7_206">
            <div class="_7_207_wrapper" fid="7:207" fname="More Options" id="_7_207_wrapper">
                <span fid="7:207" fname="More Options" id="_7_207">
                    More Options
                </span>
            </div>
            <div class="_7_208_wrapper" fid="7:208" fname="No idea how much space you need? Or what services you’d like? We’ll come to your house or office to help customize your solution and provide a free quote." id="_7_208_wrapper">
                <span fid="7:208" fname="No idea how much space you need? Or what services you’d like? We’ll come to your house or office to help customize your solution and provide a free quote." id="_7_208">
                    No idea how much space you need? Or what services you’d like? We’ll come to your house or office to help customize your solution and provide a free quote.
                </span>
            </div>
        </div>
        <div fid="7:209" fname="boxes" id="_7_209">
            <div class="_7_210_wrapper" fid="7:210" fname="More Protection" id="_7_210_wrapper">
                <span fid="7:210" fname="More Protection" id="_7_210">
                    More Protection
                </span>
            </div>
            <div class="_7_211_wrapper" fid="7:211" fname="We offer a Goods-in-transit insurance policy that covers your belongings from the moment we take them into our hands." id="_7_211_wrapper">
                <span fid="7:211" fname="We offer a Goods-in-transit insurance policy that covers your belongings from the moment we take them into our hands." id="_7_211">
                    We offer a Goods-in-transit insurance policy that covers your belongings from the moment we take them into our hands.
                </span>
            </div>
        </div>
        <div fid="7:212" fname="boxes" id="_7_212">
            <div class="_7_213_wrapper" fid="7:213" fname="Whether your move is local or long distance, we've got you covered. We can help you move to your new home, no matter how far away it is. " id="_7_213_wrapper">
                <span class="Our_gray_color" fid="7:213" fname="Whether your move is local or long distance, we've got you covered. We can help you move to your new home, no matter how far away it is. " id="_7_213">
                    Whether your move is local or long distance, we've got you covered. We can help you move to your new home, no matter how far away it is.
                </span>
            </div>
            <div class="_7_214_wrapper" fid="7:214" fname="More Locations" id="_7_214_wrapper">
                <span fid="7:214" fname="More Locations" id="_7_214">
                    More Locations
                </span>
            </div>
        </div>
        <div fid="7:215" fname="boxes" id="_7_215">
            <div class="_7_216_wrapper" fid="7:216" fname="More Benefits" id="_7_216_wrapper">
                <span fid="7:216" fname="More Benefits" id="_7_216">
                    More Benefits
                </span>
            </div>
            <div class="_7_217_wrapper" fid="7:217" fname="With SwiftShift you can pack now and pay later. We also offer coverage for household goods to ensure comprehensive protection." id="_7_217_wrapper">
                <span fid="7:217" fname="With SwiftShift you can pack now and pay later. We also offer coverage for household goods to ensure comprehensive protection." id="_7_217">
                    With SwiftShift you can pack now and pay later. We also offer coverage for household goods to ensure comprehensive protection.
                </span>
            </div>
        </div>
        <div fid="7:218" fname="bubble design" id="_7_218">
        </div>
        <div fid="7:219" fname="bubble design" id="_7_219">
        </div>
        <div fid="7:220" fname="bubble design" id="_7_220">
        </div>
    </div>
    <div fid="7:221" fname="reviews" id="_7_221">
        <div class="_7_222_wrapper" fid="7:222" fname="Clients pics" id="_7_222_wrapper">
            <div fid="7:222" fname="Clients pics" id="_7_222">
                <img fid="7:223" fname="pexels-joshua-mcknight-1191488 1" height="412.0px" id="pexels-joshua-mcknight-1191488_1" src="/assets/images/pexels-joshua-mcknight-1191488_1-_7_223-395.0x412.0.png" width="395.0px">
            </div>
        </div>
        <div fid="7:224" fname="Frame 102" id="_7_224">
        </div>
        <div fid="7:225" fname="Frame 103" id="_7_225">
            <div fid="7:226" fname="Line 6" id="_7_226">
                <svg fill="none" height="2" viewbox="0 0 65 2" width="65" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1H64" stroke="#8C7424" stroke-linecap="round" stroke-width="2">
                    </path>
                </svg>
            </div>
            <span fid="7:227" fname="Rebecca Essien" id="_7_227">
                Rebecca Essien
            </span>
            <div fid="7:228" fname="Line 7" id="_7_228">
                <svg fill="none" height="2" viewbox="0 0 65 2" width="65" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1H64" stroke="#8C7424" stroke-linecap="round" stroke-width="2">
                    </path>
                </svg>
            </div>
        </div>
        <div class="_7_229_wrapper" fid="7:229" fname="Clients pics" id="_7_229_wrapper">
            <div fid="7:229" fname="Clients pics" id="_7_229">
                <div class="_7_230_wrapper" fid="7:230" fname="pexels-nappy-936119 1" id="_7_230_wrapper">
                    <img fid="7:230" fname="pexels-nappy-936119 1" height="200.0px" id="pexels-nappy-936119_1" src="/assets/images/pexels-nappy-936119_1-_7_230-212.0x200.0.png" width="212.0px">
                </div>
            </div>
        </div>
        <div fid="7:231" fname="Vector 4" id="_7_231">
            <svg fill="none" height="670" viewbox="0 0 369 670" width="369" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.624067 124.225C0.662263 125.053 1.36505 125.694 2.19379 125.656L15.6988 125.034C16.5276 124.995 17.1684 124.293 17.1302 123.464C17.092 122.635 16.3892 121.994 15.5605 122.032L3.55603 122.586L3.00274 110.581C2.96454 109.752 2.26176 109.112 1.43302 109.15C0.604285 109.188 -0.0365736 109.891 0.00162262 110.72L0.624067 124.225ZM173.871 4.4841L174.085 5.97091L173.871 4.4841ZM327.591 46.0436L328.566 44.9009L327.591 46.0436ZM345.617 311.424L347.118 311.379L345.617 311.424ZM345.617 519.722L346.982 520.349L345.617 519.722ZM151.472 662.309C151.13 663.065 151.466 663.954 152.222 664.296L164.54 669.866C165.296 670.208 166.186 669.872 166.528 669.116C166.87 668.361 166.534 667.471 165.778 667.129L154.828 662.178L159.779 651.228C160.121 650.472 159.785 649.582 159.029 649.24C158.274 648.898 157.384 649.234 157.042 649.99L151.472 662.309ZM2.12463 124.155C3.23459 125.168 3.23481 125.167 3.23542 125.167C3.23612 125.166 3.23711 125.165 3.23852 125.163C3.24135 125.16 3.24568 125.155 3.25153 125.149C3.26321 125.136 3.28092 125.117 3.30458 125.091C3.35191 125.039 3.42307 124.962 3.51758 124.859C3.7066 124.654 3.989 124.349 4.36091 123.949C5.10473 123.15 6.20654 121.975 7.63528 120.475C10.4928 117.475 14.6577 113.175 19.8816 107.982C30.3307 97.5943 45.01 83.6382 61.9332 69.3616C78.8602 55.0818 98.0087 40.5013 117.397 28.8507C136.805 17.1884 156.35 8.52538 174.085 5.97091L173.657 2.99729C155.348 5.63439 135.402 14.5261 115.849 26.2756C96.277 38.0368 76.9945 52.7251 59.996 67.0653C42.9937 81.4086 28.253 95.4235 17.7635 105.852C12.5181 111.066 8.334 115.386 5.45992 118.403C4.02284 119.912 2.91316 121.095 2.16195 121.902C1.78635 122.305 1.50035 122.615 1.30784 122.824C1.21159 122.928 1.13871 123.008 1.08968 123.061C1.06517 123.088 1.04662 123.108 1.0341 123.122C1.02784 123.129 1.02308 123.134 1.01984 123.138C1.01822 123.139 1.01693 123.141 1.01612 123.142C1.0152 123.143 1.01467 123.143 2.12463 124.155ZM174.085 5.97091C204.732 1.55669 231.123 1.8693 255.695 8.25672C280.257 14.6417 303.101 27.1225 326.616 47.1864L328.566 44.9009C304.774 24.6011 281.533 11.8693 256.45 5.34905C231.377 -1.16873 204.561 -1.45401 173.657 2.99729L174.085 5.97091ZM326.616 47.1864C346.142 63.8469 356.782 82.1063 361.855 101.728C366.938 121.389 366.455 142.502 363.587 164.89C360.713 187.316 355.484 210.801 351.128 235.374C346.784 259.887 343.337 285.357 344.115 311.469L347.118 311.379C346.35 285.576 349.754 260.344 354.087 235.898C358.409 211.513 363.682 187.784 366.567 165.272C369.456 142.722 369.986 121.172 364.764 100.976C359.532 80.7422 348.55 61.9521 328.566 44.9009L326.616 47.1864ZM344.115 311.469C344.724 331.888 347.158 350.52 349.926 368.11C352.7 385.733 355.792 402.219 357.757 418.519C361.675 451.023 361.062 482.466 344.252 519.096L346.982 520.349C364.1 483.047 364.698 450.995 360.74 418.16C358.767 401.791 355.649 385.146 352.894 367.643C350.134 350.106 347.721 331.615 347.118 311.379L344.115 311.469ZM344.252 519.096C324.905 561.253 277.087 596.856 233.806 621.989C212.209 634.53 191.828 644.417 176.844 651.168C169.353 654.544 163.214 657.134 158.95 658.88C156.819 659.753 155.156 660.414 154.027 660.857C153.463 661.079 153.032 661.245 152.743 661.357C152.599 661.412 152.49 661.454 152.417 661.481C152.381 661.495 152.354 661.505 152.336 661.512C152.327 661.516 152.321 661.518 152.316 661.52C152.314 661.521 152.313 661.521 152.312 661.522C152.311 661.522 152.31 661.522 152.841 662.927C153.371 664.333 153.372 664.333 153.373 664.332C153.374 664.332 153.376 664.331 153.379 664.33C153.384 664.328 153.391 664.325 153.401 664.322C153.42 664.314 153.449 664.303 153.487 664.289C153.562 664.26 153.674 664.217 153.822 664.161C154.117 664.047 154.554 663.878 155.125 663.654C156.266 663.206 157.943 662.539 160.089 661.66C164.381 659.903 170.552 657.299 178.078 653.908C193.128 647.126 213.606 637.193 235.314 624.587C278.642 599.427 327.213 563.427 346.982 520.349L344.252 519.096Z" fill="#FFAD26">
                </path>
            </svg>
        </div>
        <div fid="7:232" fname="Clients pics" id="_7_232">
            <img fid="7:233" fname="pexels-nappy-935969 1" height="188.0px" id="pexels-nappy-935969_1" src="/assets/images/pexels-nappy-935969_1-_7_233-235.0x188.0.png" width="235.0px">
        </div>
        <div fid="7:234" fname="Clients pics" id="_7_234">
            <img fid="7:235" fname="pexels-godisable-jacob-718978 1" height="209.0px" id="pexels-godisable-jacob-718978_1" src="/assets/images/pexels-godisable-jacob-718978_1-_7_235-235.0x209.0.png" width="235.0px">
        </div>
        <div fid="7:236" fname="Clients pics" id="_7_236">
            <img fid="7:237" fname="pexels-christina-morillo-1181686 1" height="263.0px" id="pexels-christina-morillo-1181686_1" src="/assets/images/pexels-christina-morillo-1181686_1-_7_237-235.0x263.0.png" width="235.0px">
        </div>
        <div fid="7:238" fname="Frame 152" id="_7_238">
            <div fid="7:239" fname="right" id="_7_239">
                <div class="_7_240_wrapper" fid="7:240" fname="u:angle-left-b" id="_7_240_wrapper">
                    <div fid="7:240" fname="u:angle-left-b" id="_7_240">
                        <div fid="I7:240;2:4540" fname="Vector" id="_I7_240-2_4540">
                            <svg fill="none" height="14" viewbox="0 0 8 14" width="8" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.31169 7.79226L6.23381 13.6105C6.64939 14.0261 7.27277 14.0261 7.68836 13.6105C8.10395 13.1949 8.10395 12.5715 7.68836 12.1559L2.59742 6.96108L7.68836 1.76624C8.10395 1.35066 8.10395 0.727277 7.68836 0.31169C7.48057 0.103896 7.27277 0 6.96108 0C6.64939 0 6.4416 0.103896 6.23381 0.31169L0.31169 6.12991C-0.103897 6.64939 -0.103897 7.27277 0.31169 7.79226C0.31169 7.68836 0.31169 7.68836 0.31169 7.79226Z" fill="#E4DFC4">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div fid="7:241" fname="Frame 108" id="_7_241">
                <div fid="7:242" fname="Frame 105" id="_7_242">
                </div>
                <div fid="7:243" fname="Frame 104" id="_7_243">
                </div>
                <div fid="7:244" fname="Frame 106" id="_7_244">
                </div>
                <div fid="7:245" fname="Frame 107" id="_7_245">
                </div>
            </div>
            <div fid="7:246" fname="left" id="_7_246">
                <div class="_7_247_wrapper" fid="7:247" fname="u:angle-right-b" id="_7_247_wrapper">
                    <div fid="7:247" fname="u:angle-right-b" id="_7_247">
                        <div fid="I7:247;2:4544" fname="Vector" id="_I7_247-2_4544">
                            <svg fill="none" height="14" viewbox="0 0 8 14" width="8" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.66531 6.18337L1.77915 0.307617C1.68247 0.210144 1.56745 0.132777 1.44072 0.0799801C1.314 0.0271829 1.17807 0 1.04078 0C0.903494 0 0.767566 0.0271829 0.640838 0.0799801C0.514109 0.132777 0.399089 0.210144 0.302412 0.307617C0.108719 0.502466 0 0.766045 0 1.04079C0 1.31553 0.108719 1.57911 0.302412 1.77396L5.4502 6.97374L0.302412 12.1215C0.108719 12.3164 0 12.58 0 12.8547C0 13.1294 0.108719 13.393 0.302412 13.5879C0.398727 13.6861 0.513585 13.7643 0.64033 13.8179C0.767075 13.8714 0.903187 13.8993 1.04078 13.8999C1.17837 13.8993 1.31449 13.8714 1.44123 13.8179C1.56798 13.7643 1.68284 13.6861 1.77915 13.5879L7.66531 7.71211C7.77087 7.61473 7.85511 7.49653 7.91273 7.36498C7.97035 7.23343 8.0001 7.09136 8.0001 6.94774C8.0001 6.80412 7.97035 6.66206 7.91273 6.5305C7.85511 6.39895 7.77087 6.28076 7.66531 6.18337Z" fill="white">
                                </path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fid="7:248" fname="Frame 100" id="_7_248">
        </div>
        <div class="Secondary_color" fid="7:249" fname="Frame 109" id="_7_249">
        </div>
        <div fid="7:250" fname="Frame 151" id="_7_250">
            <div fid="7:251" fname="Frame 150" id="_7_251">
                <span fid="7:252" fname="Customers Review" id="_7_252">
                    Customers Review
                </span>
                <span fid="7:253" fname="What Our Clients Say" id="_7_253">
                    What Our Clients Say
                </span>
            </div>
            <span fid="7:254" fname="“I’ll choose (Company name) over and over again. They do make relocation seamless and stress-free”" id="_7_254">
                “I’ll choose (Company name) over and over again. They do make relocation seamless and stress-free”
            </span>
        </div>
    </div>
    <div fid="7:255" fname="asked" id="_7_255">
        <div class="_7_256_wrapper" fid="7:256" fname="Frequently Asked Questions" id="_7_256_wrapper">
            <span fid="7:256" fname="Frequently Asked Questions" id="_7_256">
                Frequently Asked Questions
            </span>
        </div>
        <span fid="7:257" fname="You Have Questions, We Have Answers" id="_7_257">
            You Have Questions, We Have Answers
        </span>
        <div fid="7:258" fname="Frame 154" id="_7_258">
        </div>
        <span fid="7:259" fname="PROPERTY" id="_7_259">
            PROPERTY
        </span>
        <span fid="7:260" fname="MOVEMENT" id="_7_260">
            MOVEMENT
        </span>
        <span fid="7:261" fname="PAYMENT" id="_7_261">
            PAYMENT
        </span>
        <div fid="7:262" fname="Frame 110" id="_7_262">
            <span fid="7:263" fname="How do you ensure the safety of my belongings during the relocation process?" id="_7_263">
                How do you ensure the safety of my belongings during the relocation process?
            </span>
            <div fid="7:264" fname="Line 7" id="_7_264">
            </div>
            <span fid="7:265" fname="Can I customize the labeling and tracking options for my specific needs?" id="_7_265">
                Can I customize the labeling and tracking options for my specific needs?
            </span>
            <div fid="7:266" fname="Line 8" id="_7_266">
            </div>
            <span fid="7:267" fname="What happens if there is damage or loss to my property during the relocation process?" id="_7_267">
                What happens if there is damage or loss to my property during the relocation process?
            </span>
            <div fid="7:268" fname="Line 9" id="_7_268">
            </div>
            <span fid="7:269" fname="How far in advance should I book your services for my upcoming relocation?" id="_7_269">
                How far in advance should I book your services for my upcoming relocation?
            </span>
        </div>
        <div fid="7:270" fname="Frame 155" id="_7_270">
        </div>
        <div fid="7:271" fname="Frame 156" id="_7_271">
            <div fid="7:272" fname="Frame 162" id="_7_272">
                <span fid="7:273" fname="Have a new question?" id="_7_273">
                    Have a new question?
                </span>
                <span fid="7:274" fname="Send us your questions, we’ve got answers" id="_7_274">
                    Send us your questions, we’ve got answers
                </span>
            </div>
            <div class="_7_275_wrapper" fid="7:275" fname="Frame 157" id="_7_275_wrapper">
                <div fid="7:275" fname="Frame 157" id="_7_275">
                    <span class="Our_gray_color" fid="7:276" fname="Hi, send us your message...." id="_7_276">
                        Hi, send us your message....
                    </span>
                </div>
            </div>
            <div class="_7_277_wrapper" fid="7:277" fname="Frame 160" id="_7_277_wrapper">
                <div fid="7:277" fname="Frame 160" id="_7_277">
                    <div fid="7:278" fname="Frame 158" id="_7_278">
                        <div class="_7_279_wrapper" fid="7:279" fname="Name" id="_7_279_wrapper">
                            <span fid="7:279" fname="Name" id="_7_279">
                                Name
                            </span>
                        </div>
                    </div>
                    <div fid="7:280" fname="Frame 159" id="_7_280">
                        <div class="_7_281_wrapper" fid="7:281" fname="Email" id="_7_281_wrapper">
                            <span fid="7:281" fname="Email" id="_7_281">
                                Email
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="_7_282_wrapper" fid="7:282" fname="Frame 161" id="_7_282_wrapper">
                <div fid="7:282" fname="Frame 161" id="_7_282">
                    <div class="_7_283_wrapper" fid="7:283" fname="Submit" id="_7_283_wrapper">
                        <span fid="7:283" fname="Submit" id="_7_283">
                            Submit
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Our_Black" fid="7:284" fname="footer" id="_7_284">
        <div fid="7:285" fname="Frame 169" id="_7_285">
            <div fid="7:286" fname="Frame 168" id="_7_286">
                <span fid="7:287" fname="Contact Us" id="_7_287">
                    Contact Us
                </span>
                <div fid="7:288" fname="Frame 163" id="_7_288">
                    <span fid="7:289" fname="+234 000 657 970" id="_7_289">
                        +234 000 657 970
                    </span>
                    <span fid="7:290" fname="swiftshift@gmail.com" id="_7_290">
                        swiftshift@gmail.com
                    </span>
                    <span fid="7:291" fname="plot 35, twni Strt. Port Harcourt, Nigeria" id="_7_291">
                        plot 35, twni Strt. Port Harcourt, Nigeria
                    </span>
                </div>
            </div>
            <div fid="7:292" fname="Frame 167" id="_7_292">
                <span fid="7:293" fname="Company" id="_7_293">
                    Company
                </span>
                <div fid="7:294" fname="Frame 164" id="_7_294">
                    <span fid="7:295" fname="Home" id="_7_295">
                        Home
                    </span>
                    <span fid="7:296" fname="About us" id="_7_296">
                        About us
                    </span>
                    <span fid="7:297" fname="Service" id="_7_297">
                        Service
                    </span>
                    <span fid="7:298" fname="Get Quote" id="_7_298">
                        Get Quote
                    </span>
                </div>
            </div>
            <div fid="7:299" fname="Frame 166" id="_7_299">
                <span fid="7:300" fname="Quick Link" id="_7_300">
                    Quick Link
                </span>
                <div fid="7:301" fname="Frame 165" id="_7_301">
                    <span fid="7:302" fname="Contact Us" id="_7_302">
                        Contact Us
                    </span>
                    <span fid="7:303" fname="FAQs" id="_7_303">
                        FAQs
                    </span>
                    <span fid="7:304" fname="Privacy Policy" id="_7_304">
                        Privacy Policy
                    </span>
                    <span fid="7:305" fname="Support" id="_7_305">
                        Support
                    </span>
                    <span fid="7:306" fname="Terms & Conditions" id="_7_306">
                        Terms &amp; Conditions
                    </span>
                </div>
            </div>
        </div>
        <div fid="7:307" fname="Logo & name" id="_7_307">
            <div fid="7:308" fname="Logo" id="_7_308">
                <div fid="7:309" fname="Frame 2" id="_7_309">
                </div>
                <div fid="7:310" fname="Frame 3" id="_7_310">
                </div>
                <div fid="7:311" fname="Frame 4" id="_7_311">
                </div>
            </div>
            <span fid="7:312" fname="SwiftShift" id="_7_312">
                SwiftShift
            </span>
        </div>
        <span fid="7:313" fname="SwiftShift offers premier packing and relocation services, prioritizing efficiency, safety, and personalized solutions for seamless transitions to new destinations." id="_7_313">
            SwiftShift offers premier packing and relocation services, prioritizing efficiency, safety, and personalized solutions for seamless transitions to new destinations.
        </span>
        <div fid="7:314" fname="socials" id="_7_314">
            <div fid="7:315" fname="instagram" id="_7_315">
                <div class="_7_316_wrapper" fid="7:316" fname="Instagram" id="_7_316_wrapper">
                    <img fid="7:316" fname="Instagram" height="24.0px" id="Instagram" src="/assets/images/Instagram-_7_316-24.0x24.0.png" width="24.0px">
                </div>
            </div>
            <div fid="7:317" fname="facebook" id="_7_317">
                <div class="_7_318_wrapper" fid="7:318" fname="Facebook" id="_7_318_wrapper">
                    <img fid="7:318" fname="Facebook" height="24.0px" id="Facebook" src="/assets/images/Facebook-_7_318-24.0x24.0.png" width="24.0px">
                </div>
            </div>
            <div fid="7:319" fname="youtube" id="_7_319">
                <div class="_7_320_wrapper" fid="7:320" fname="Youtube" id="_7_320_wrapper">
                    <img fid="7:320" fname="Youtube" height="24.0px" id="Youtube" src="/assets/images/Youtube-_7_320-24.0x24.0.png" width="24.0px">
                </div>
            </div>
            <div fid="7:321" fname="twitter" id="_7_321">
                <div class="_7_322_wrapper" fid="7:322" fname="Twitter" id="_7_322_wrapper">
                    <img fid="7:322" fname="Twitter" height="24.0px" id="Twitter" src="/assets/images/Twitter-_7_322-24.0x24.0.png" width="24.0px">
                </div>
            </div>
        </div>
    </div>
</div>